html {
    font-family: Arial, sans-serif !important;
    font-size: 1em;
}
#navigationBar {
    display: grid;
    grid-template-columns: 50px 50px 50px 90px;
    grid-template-rows: auto;
    grid-template-areas: "gmail images squares sign-in";
    font-size: 13px;
    padding-top: 10px;
    padding-right: 10px;
    justify-content: right;
}
#gmail{
    grid-area: gmail;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}
#gmail:hover {
    text-decoration: underline;
    opacity: 0.85;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}
#images:hover {
    text-decoration: underline;
    opacity: 0.85;
}
#squares {
    grid-area: squares;
    justify-self: center;
    align-self: center;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    background-color: #4387fd;
    height: 30px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5%;
    border: none;
    width: 70px;
}
#sign-in:hover {
    box-shadow: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
#sign-in:focus{
    outline:none;
}
#squares {
    width: 30px;
    height: 30px;
}
.navBar {
    color: rgba(0,0,0,0.87)
}
#searchArea {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 250px 70px 70px 200px;
    grid-template-areas: "googleLogo"
                         "searchBar"
                         "buttons"
                         "languageLink";
    justify-content: center;
}
#googleLogo {
    grid-area: googleLogo;
    max-width: 20em;
    max-height: 200px;
    justify-self: center;
    align-self: end;
}
#searchBar {
    grid-area: searchBar;
    justify-self: center;
    align-self: start;
    width: 484px;
    height: 46px;
    border: 1px solid #cccccc;
    border-radius: 24px;
    padding-left: 50px;
    background-image: url('Images/magnifying.png');
    background-size: 20px;
    background-position: 10px;
    background-repeat: no-repeat;
}
#searchBar:hover {
    cursor: text;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}
#searchBar:hover::placeholder {
    color: transparent;
}
#searchBar:focus {
    cursor: text;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}
#searchBar:focus::placeholder {
    color: transparent;
}
#buttons {
    grid-area: buttons;
    justify-self: center;
    align-self: start;
}
#search-fl {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    width: 130px;
    height: 36px;
    border-radius: 4px;
    color: #777777;
}
#search-fl:hover {
    color: #222;
    cursor: pointer;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6
}
#languageLink {
    grid-area: languageLink;
    justify-self: center;
    align-self: start;
}
#language {
    text-decoration: none;
    color: #1a0dab;
}
#language:hover {
    text-decoration: underline;
}
#allFooters {
    background-color: #f2f2f2;
    line-height: 40px;
    margin-left: -27px;
    margin-right: -27px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
#footer1 {
    color: #777777;
    padding-left: 30px;
    margin-left: 25px;
    border-bottom: 1px solid #e4e4e4;
}
#left {
    float: left;
}
#leftFooter {
    text-decoration: none;
    color: #777777;
    padding-left: 30px;
}
#leftFooter:hover {
    text-decoration: underline;
}
.advertising {
    margin-left: 25px;
}
#right {
    float: right;
}
#rightFooter {
    text-decoration: none;
    color: #777777;
    padding-right: 30px;
}
#rightFooter:hover {
    text-decoration: underline;
}
.settings {
    margin-right: 25px;
}
